<div style="width: 100%;" class="">
  <div class="">
    {% if product.available %}
      <div class="box">
        <div class="box-cont offer-one" id="offerOne" data-group="1">
          <div class="carry-hld">  
            <div class="hidden-option">
              <!-- <input type="hidden" id="hidden-option-1" name="quantity" value="2" checked/> -->
              
            </div>
            <div class="box-cont-holder">
              <div>
                <input type="radio" id="quantity-option-1" name="quantity-option"/>
              </div>
              <div>               
                <span>Most Popular</span>
                <p>Buy two and save 15%</p>
              </div>
            </div>
            <div class="moneyHolder">
              <p>Save 15%</p>
              <span class="individual-price">
                <div class="old-price" id="ComparePrice">{{ product.selected_or_first_available_variant.compare_at_price | money }}</div>
                <div class="new-price" id="ProductPrice">{{ product.selected_or_first_available_variant.price | money }}</div>
              </span>
              <span class="discount-price">
                {% assign compare_price = product.selected_or_first_available_variant.compare_at_price %}
                {% assign product_price = product.selected_or_first_available_variant.price %}
                {% assign quantity = 2 %}
                {% assign total_compare_price = compare_price | times: quantity %}
                {% assign total_product_price = product_price | times: quantity %}
                <div class="new-price">Total</div>
                <div class="old-price" id="totalComparePrice">{{ total_compare_price | money }}</div>
                <div class="new-price" id="totalProductPrice">{{ total_product_price | money }}</div>
              </span>
            </div>
          </div>
          
          <div id="selectorDiv-1" class="">
            <div class="carry-hld">
             <span class="disc-opt-mun">
              #1
            </span>
            <div class="selection-div">
              <form action="/cart/add" method="post" class="cart-{{ product.id }}-multi-options" enctype="multipart/form-data" id="add-item-form-2">
              {% if product.variants.size > 1 %}
                <select
                  name="id"
                  id="productSelect"
                  class="product-single__variants">
                  {% for variant in product.variants %}
                    <option
                      data-stocks="{{ variant.inventory_quantity }}"
                      {% if variant == current_variant %}
                      selected="selected"
                      {% endif %}
                      data-sku="{{ variant.sku }}"
                      value="{{ variant.id }}">{{ variant.title }}</option>
                  {% endfor %}
                </select>
              {% endif %}       
              </form>
            </div>
          </div>
            <div class="carry-hld">
            <span class="disc-opt-mun">
              #2
            </span>
            <div class="selection-div">
              <form action="/cart/add" method="post" class="cart-{{ product.id }}-multi-options-2" enctype="multipart/form-data" id="add-item-form-3">
              {% if product.variants.size > 1 %}
                <select
                  name="id"
                  id="productSelect-2"
                  class="product-single__variants">
                  {% for variant in product.variants %}
                    <option
                      data-stocks="{{ variant.inventory_quantity }}"
                      {% if variant == current_variant %}
                      selected="selected"
                      {% endif %}
                      data-sku="{{ variant.sku }}"
                      value="{{ variant.id }}">{{ variant.title }}</option>
                  {% endfor %}
                </select>
              {% endif %}       
              </form>         
            </div>
          </div>  
          </div>
        </div>

        <div class="btn-cont">
          {% render 'discount-instant-buy', product: product %}
        </div>
      </div> 
    {% else %}
      <div>Out of stock</div>
    {% endif %}
  </div>
</div>

<script>
  function updateTotalPrice() {
    const comparePrice = {{ product.selected_or_first_available_variant.compare_at_price }};
    const productPrice = {{ product.selected_or_first_available_variant.price }};
    const quantity = 2;

    const totalComparePrice = (comparePrice * quantity) / 100;
    const totalProductPrice = (productPrice * quantity) / 100;

    document.getElementById('totalComparePrice').innerText = '$' + totalComparePrice.toFixed(2);
    document.getElementById('totalProductPrice').innerText = '$' + totalProductPrice.toFixed(2);
  }

  function toggleVisibility(selectedGroup) {
    const allSelectorDivs = document.querySelectorAll('[id="selectorDiv-"]');
    allSelectorDivs.forEach(div => {
      if (div.id === `selectorDiv-${selectedGroup}`) {
        div.classList.remove('hidden');
      } else {
        div.classList.add('hidden');
      }
    });
  }

  // Initial call to update prices
  updateTotalPrice();

  document.addEventListener('DOMContentLoaded', function () {
    const containers = document.querySelectorAll('.box-cont');

    containers.forEach(container => {
      const group = container.getAttribute('data-group');
      const primaryRadio = container.querySelector(`#hidden-option-${group}`);
      const secondaryRadio = container.querySelector(`#quantity-option-${group}`);
      const card = document.getElementById(`box-cont-${group}`);

      primaryRadio.addEventListener('change', function () {
        if (this.checked) {
          // Remove the highlight class from all containers
          containers.forEach(cont => cont.classList.remove('highlight'));

          // Add the highlight class to the currently checked container
          card.classList.add('highlight');
          secondaryRadio.checked = true;

          // Toggle visibility
          toggleVisibility(group);
        }
      });

      secondaryRadio.addEventListener('change', function () {
        if (this.checked) {
          // Remove the highlight class from all containers
          containers.forEach(cont => cont.classList.remove('highlight'));

          // Add the highlight class to the currently checked container
          card.classList.add('highlight');
          primaryRadio.checked = true;
        }
      });
    });

    // Add highlight class to the first checked box
    const firstChecked = document.querySelector('.box-cont input[type="radio"]:checked');
    if (firstChecked) {
      const firstCheckedContainer = firstChecked.closest('.box-cont');
      if (firstCheckedContainer) {
        firstCheckedContainer.classList.add('highlight');
        const group = firstCheckedContainer.getAttribute('data-group');
        toggleVisibility(group);
      }
    }
  });
</script>

<style>
  select{
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"><defs><linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="100%"><stop offset="0%" style="stop-color:%23A16FFF;stop-opacity:1" /><stop offset="100%" style="stop-color:%233916FF;stop-opacity:1" /></linearGradient></defs><path fill="url(%23grad1)" stroke="%23000" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'), auto!important;
  }
  .box-cont {
    display: block;
    margin: 10px;
    padding: 10px 30px 10px 10px;
    justify-content: space-between;
    /* background-color: #ced8ff; */
    border: solid 2px #02020230;
    border-radius: 2px;
    clip-path: inset(0 0 0);
  }
  .box-cont.highlight {
    background-color: #7575ff24;
  }
  .btn-cont {
    margin: 10px;
    padding: 10px;
  }
  .box .box-cont .carry-hld{
    width: 100%;
    display: flex;
    margin-bottom:10px;
    justify-content: space-between;
  }
  .box .box-cont .carry-hld .disc-opt-mun{
    width: 30px;
    display: inline-block;
    margin: 5px 30px 5px 15px;
    align-content: center;
    font-weight: 450;
    opacity: 0.7;
  }
  .box .box-cont .carry-hld .selection-div{
    width: 100%;
    margin-right: 5px;
    z-index: 30;
  }
  .box .box-cont .carry-hld .selection-div .disc-opt-selection{
    height: 45px;
    background-color: #fff;
    border-radius: 3px;
    border: solid thin #000;
  }
  .box .box-cont .hidden-option {
    position: absolute;
    width: 85%;
    height: 100%;
    margin: 0;
    cursor: pointer;
  }
  .box .box-cont .hidden-option input {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    opacity: 0;
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"><defs><linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="100%"><stop offset="0%" style="stop-color:%23A16FFF;stop-opacity:1" /><stop offset="100%" style="stop-color:%233916FF;stop-opacity:1" /></linearGradient></defs><path fill="url(%23grad1)" stroke="%23000" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'), auto!important;;
  }
  .box .box-cont .box-cont-holder {
    display: flex;
    align-items: center;
    min-width: 0px;
  }
  .box .box-cont .box-cont-holder div{
    display: flex;
    flex-direction: column;
    min-width: 0px;
  }
  .box .box-cont .box-cont-holder input {
    min-width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border: 1px solid rgb(207, 98, 235);
  }
  .box .box-cont .box-cont-holder span {
    width:fit-content;
    background-color: #e15f00;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    padding: 3px 10px 3px 11px;
  }
  .box .box-cont .box-cont-holder p {
    color: #000;
    font-size: 20px;
    font-weight: 600;
  }
  .moneyHolder {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 0;
  }
  .moneyHolder p {
    color: #bf5000;
    font-size: 20px;
    font-weight: 500;
  }
  .moneyHolder span {
    display: flex;
  }
  @media(max-width: 470px){
    .moneyHolder .individual-price, 
    .moneyHolder p,
    .box .box-cont .box-cont-holder span,
    .box .box-cont .box-cont-holder p{
      font-size: 15px;
      padding:0;
    }
  }
  .moneyHolder .individual-price {
    font-size: 20px;
  }
  .moneyHolder .discount-price,
  .moneyHolder .individual-price {
    justify-content: right;
  }
  .moneyHolder .individual-price div,
  .moneyHolder .discount-price div {
    padding: 0 5px 0 5px;
  }
  .old-price {
    text-decoration: line-through;
  }
  .new-price {
    color: blue;
  }
  .hidden{
    display: none;
  }
</style>
