<section id="seeItInAction-{{ section.id }}">
<div class="photo-stransition-top-{{ section.id }}">
  
</div>
<div class="row">
  <div class="column">
      <div class="framerBigHold">
        <div class="itemWraper">
          <h2>FAQ</h2>
        </div>
        <div class="itemWraper">
          <div id="question-card-1" class="question-card">
            <div class="question">
              <p>
                <span>
                  <img width="25px" height="25px" src="https://cdn.shopify.com/s/files/1/0593/1450/3745/files/Q.png?v=1723535925" />  
                </span>
                can we acheive 1,000,000 dollars
              </p>
              <button id="svg-dropdown-btn">
                <svg style="width: 25px; height: 25px;" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M7 10L12 15L17 10" stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
              </button>
            </div>
            <div id="answare-1" class="answare">
              <p>yes, we can</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</section>

<script>
document.getElementById('svg-dropdown-btn').addEventListener('click', function() {
  var content = document.getElementById('question-card-1');
  var Answare = document.getElementById('answare-1');
  content.classList.toggle('expanded');
  Answare.classList.toggle('answare')
});
</script>

<style>
#seeItInAction-{{ section.id }}{
  width: 100%;
  display: block;
  {% if section.settings.select_bg_style == "backColor" %}
    background: {{ section.settings.backGcolor }};
  {% elsif section.settings.select_bg_style == "backImage" %}
    background-image: url('{{ section.settings.backImageUrl }}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  {% endif %}
}
#seeItInAction-{{ section.id }} .framerBigHold{
  width: 80%;
  height: 100%;
  max-width: 1140px;
  margin: auto;
  display: block;
  align-items: unset;
  justify-content: space-between;
  padding-bottom: 50px;
}
#seeItInAction-{{ section.id }} .itemWraper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0 10px 0;
}
#seeItInAction-{{ section.id }} .itemWraper h2{
  color: #fff;
  font-family: spaceBoard;
  text-transform: uppercase;
}
#seeItInAction-{{ section.id }} .itemWraper .item{
  display: block;
  align-content: baseline;
  margin: auto;
}
.question-card{
  display: flex;
  width: 50%;
  margin: auto;
  padding: 14px;
  flex-direction: column;
  box-shadow: 3px 3px 0px #8fa6fd;
  border-radius: 15px;
  background: #090c2f;
  border: 4px solid #a3abe8;
}
.question{
  display: flex;
  justify-content: space-between;
}
.expanded {
    transition: max-height 2s ease, padding 0.5s ease;
    height: fit-content; /* Adjust this value according to your content */
    padding: 15px;
}
.answare{
  display: none;
}
@media(max-width: 950px){
  #seeItInAction-{{ section.id }} .framerBigHold{
    display: block;
    padding: 10px 0;
  }
  #seeItInAction-{{ section.id }} .itemWraper{
    padding-left: 0 !important;
  }
 .photo-stransition-{{ section.id }}{
    height: 100px;
  }
  .question-card{
    width:100%;
  }
}
</style>

{% schema %}
{
  "name": "before the footer",
  "settings": [
    {
      "type": "header",
      "content": "before the footer Settings"
    },
    {
      "type": "select",
      "id": "select_bg_style",
      "label": "Background style",
      "options": [
        {
          "value": "backColor", 
          "label": "Background color"
        },
        {
          "value": "backImage", 
          "label": "Background image"
        }
      ]
    },
    {
      "type": "color",
      "id": "backGcolor",
      "label": "Background color"
    },
    {
      "type": "url",
      "id": "backImageUrl",
      "label": "Background image URL"
    }
  ],
  "blocks": [
    {
      "type": "before_the_footer",
      "name": "before the footer",
      "settings": [
        
      ]
    }
  ],
  "presets": [
    {
      "name": "before the footer"
    }
  ]
}
{% endschema %}
