<div class="row">
  <div class="column">
    <section class="beforeAndAfter-section">
      <div class="before-after-slider">
        <div class="slider-container">
          <div class="imag-holder before-image">
            {%- if section.settings.before_image -%}
            <img src="{{ section.settings.before_image | image_url: width: 512 }}" 
             loading="lazy" 
             width="{{ section.settings.before_image.width }}" 
             height="{{ section.settings.before_image.height }}" 
             alt="{{ section.settings.before_image.alt }}" 
             class="slider-image" />
            {%- endif -%}
          </div>
          
          <div class="imag-holder after-image">
            {%- if section.settings.after_image -%}
            <img src="{{ section.settings.after_image | image_url: width: 512 }}" 
             loading="lazy" 
             width="{{ section.settings.after_image.width }}" 
             height="{{ section.settings.after_image.height }}" 
             alt="{{ section.settings.after_image.alt }}" 
             class="slider-image" />
            {%- endif -%}
          </div>
          
          <div class="slider-line"></div>
        </div>
      </div>
    </section>
  </div>
</div>

<style>
.beforeAndAfter-section{
  width: 100%;
  height: 300px;
  display: block;
  background: #000;
}
.before-after-slider {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
}
.slider-container{
  position: absolute;
  width: 500px;
  height: auto;
  cursor: pointer;
} 
.imag-holder img{
  width: 500px;
  height: auto;
  object-fit: cover;
}
.before-image{
  width: 500px;
  height: auto;
  position: absolute;
  left: 0;
  top:0;
  z-index:2;
  overflow: hidden;
}
.after-image{
  filter: brightness(30%);
}
.slider-line{
  width: 3px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  pointer-events: none;
}
</style>

<script>
  const container = document.querySelector('.slider-container');
  const imageBefore = document.querySelector('.before-image');
  const line = document.querySelector('.slider-line');

  container.addEventListener('mousemove', e => {
    imageBefore.style.width = `${e.layerX}px`;
    line.style.left = `${e.layerX}px`;
  })
</script>

{% schema %}
{
  "name": "Section name",
  "settings": [
    {
      "type": "header",
      "content": "Before & After Settings"
    },
    {
      "type": "image_picker",
      "id": "before_image",
      "label": "Before Image"
    },
    {
      "type": "image_picker",
      "id": "after_image",
      "label": "After Image"
    }
  ],
  "presets": [
    {
      "name": "Before and After"
    }
  ]
}
{% endschema %}