<section class="blog-wrap">
  <div class="container">
    <div class="row">
      <div class="col">
        
        <div class="section-capture">
          <div class="section-title">
            {% if section.settings.section_title != '' %}
            <h2>{{ section.settings.section_title }}</h2>
            {% endif %}
            {% if section.settings.section_desc != '' %}
            <p>{{ section.settings.section_desc }}</p>
            {% endif %}
          </div>
          <div class="swiper-buttons">
            <button class="swiper-prev swiper-prev-{{ section.id }}"><i class="ri-arrow-left-line"></i></button>
            <button class="swiper-next swiper-next-{{ section.id }}"><i class="ri-arrow-right-line"></i></button>
          </div>
        </div>
        
        {% assign blog_home = blogs[section.settings.blog_home] %}
        <div class="blog-slider swiper" id="blog-{{ section.id }}">
          <div class="swiper-wrapper">
            {% assign blog_home_limit = section.settings.blog_home_limit_handle %}
            {% for article in blog_home.articles limit: blog_home_limit %}
            <div class="swiper-slide">
              {% render 'blog-grid-item', article: article %}
            </div>
            {% else %}
            {% for i in (1..blog_home_limit) %}
            <div class="swiper-slide">
              <div class="blog-post">
                <div class="blog-main-img">
                  <a href="{{ article.url }}" class="blog-img">
                  {%- capture placeholder -%}collection-{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
                  {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
                  </a>
                </div>
                <div class="blog-post-content">
                  <span class="date-time">{{ 'homepage.sections.blog_date' | t }}</span>
                  <h6 class="blog-title">
                    <a href="#">{{ 'homepage.sections.blog_title' | t }}</a>
                  </h6>
                  <p class="blog-desc">{{ 'homepage.sections.blog_description' | t }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endfor %}
          </div>
        </div>
        <div class="swiper-buttons mobile">
          <button class="swiper-prev swiper-prev-{{ section.id }}"><i class="ri-arrow-left-line"></i></button>
          <button class="swiper-next swiper-next-{{ section.id }}"><i class="ri-arrow-right-line"></i></button>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
addEventListener('DOMContentLoaded', (event) => {
  var swiper = new Swiper('.swiper#blog-{{ section.id }}', {
    slidesPerView: {{ section.settings.blog_slider_limit }},
    grid: {
      rows: 1,
      fill: 'row' | 'column',
    },
    spaceBetween: 30,
    observer: true,
    observeParents: true,
    watchSlidesProgress: true,
    loop: true,
    {%- if settings.enable_rtl -%}
    rtl: true,
    {%- endif -%}
    navigation: {
      nextEl: '.swiper-next-{{ section.id }}',
      prevEl: '.swiper-prev-{{ section.id }}',
    },
    pagination: {
      el: ".swiper-pagination-{{ section.id }}",
      clickable: true
    },
    //autoplay: {
      //delay: 5000,
      //disableOnInteraction: false,
      //pauseOnMouseEnter: true
    //},
    breakpoints: {
      0: {
        slidesPerView: 1,
        grid: {
          rows: 1,
          fill: 'row' | 'column',
        },
        spaceBetween: 12
      },
      320: {
        slidesPerView: 1,
        grid: {
          rows: 1,
          fill: 'row' | 'column',
        },
        spaceBetween: 12
      },
      360: {
        slidesPerView: 1,
        grid: {
          rows: 1,
          fill: 'row' | 'column',
        },
        spaceBetween: 12
      },
      540: {
        slidesPerView: 1,
        grid: {
          rows: 1,
          fill: 'row' | 'column',
        },
        spaceBetween: 12
      },
      640: {
        slidesPerView: 2,
        grid: {
          rows: 1,
          fill: 'row' | 'column',
        },
        spaceBetween: 12
      },
      768: {
        slidesPerView: 2,
        grid: {
          rows: 1,
          fill: 'row' | 'column',
        },
        spaceBetween: 30
      },
      1024: {
        slidesPerView: 2,
        grid: {
          rows: 1,
          fill: 'row' | 'column',
        },
        spaceBetween: 30
      },
      1199: {
        slidesPerView: 3,
        grid: {
          rows: 1,
          fill: 'row' | 'column',
        },
        spaceBetween: 30
      },
      1399: {
        slidesPerView: {{ section.settings.blog_slider_limit }},
        grid: {
          rows: 1,
          fill: 'row' | 'column',
        },
        spaceBetween: 30
      }
    }
  });
});
</script>
{% schema %}
{
  "name": "Home Blog",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop"
    },
    {
      "type": "range",
      "id": "blog_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "blog_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "blog_padding_top_ip",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "blog_padding_bottom_ip",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "blog_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "blog_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 60
    },
    {
      "type": "header",
      "content": "Section Background Color"
    },
    {
      "type": "color",
      "id": "blog_bgcolor",
      "label": "Background Color",
      "default": "#F9F9F9"
    },
    {
      "type": "checkbox",
      "id": "blog_bgcolor_enable",
      "label": "Show Backgorund Color",
      "default": true
    },
    {
      "type": "header",
      "content": "Section Title"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Latest our story"
    },
    {
      "type": "textarea",
      "id": "section_desc",
      "label": "Section Description",
      "default": "Recently big news & blog story"
    },
    {
      "type": "header",
      "content": "Select Blog"
    },
    {
      "type": "blog",
      "id": "blog_home",
      "label": "Select"
    },
    {
      "type": "text",
      "id": "blog_home_limit_handle",
      "label": "Blog Limit",
      "default": "8"
    },
    {
      "type": "header",
      "content": "Slider Option"
    },
    {
      "type": "select",
      "id": "blog_slider_limit",
      "label": "slides Per View",
      "options": [
        {
          "label": "2 Testimonial",
          "value": "2"
        },
        {
          "label": "3 Testimonial",
          "value": "3"
        },
        {
          "label": "4 Testimonial",
          "value": "4"
        }
      ],
      "default": "3"
    }
  ],
  "presets": [
    {
      "name": "Home Blog",
      "category": "Blog Post"
    }
  ]
}
{% endschema %}
<style>
  .blog-wrap {
    position: relative;
    padding-top: {{ section.settings.blog_padding_top }}px;
    padding-bottom: {{ section.settings.blog_padding_bottom }}px;
    {% if section.settings.blog_bgcolor_enable %}
    background-color: {{ section.settings.blog_bgcolor }};
    {% endif %}
  }
  @media (max-width: 1199px) {
    .blog-wrap {
      padding-top: {{ section.settings.blog_padding_top_ip }}px;
      padding-bottom: {{ section.settings.blog_padding_bottom_ip }}px;
    }
  }
  @media (max-width: 767px) {
    .blog-wrap {
      padding-top: {{ section.settings.blog_padding_top_xs }}px;
      padding-bottom: {{ section.settings.blog_padding_bottom_xs }}px;
    }
  }

  /* section title css */
  .blog-wrap .section-capture {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .blog-wrap .section-capture .swiper-buttons {
    margin-top: 0;
  }
  @media (max-width: 479px) {
    .blog-wrap .section-capture {
      flex-direction: column;
    }
    .blog-wrap .section-capture .swiper-buttons {
      display: none;
    }
  }

  /* mobile slider button css */
  .blog-wrap .swiper-buttons.mobile {
    display: none;
  }
  @media (max-width: 479px) {
    .blog-wrap .swiper-buttons.mobile {
      display: flex;
    } 
  }
</style>