<section id="testimonial-{{ section.id }}" class="testimonial-clients-area {% if section.settings.enable_animation %}animate-background{% endif %}">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title-capture">
          <div class="section-title">
            {% if section.settings.section_title != '' %}
            <h2 style="color:{{ section.settings.section_title_color }}">{{ section.settings.section_title }}</h2>
            {% endif %}
            {% if section.settings.section_title_2 != '' %}
              <h2 style="color:{{ section.settings.section_title2_color }}">{{ section.settings.section_title_2 }}</h2>
            {% endif %}  
            <div class="desc">
              <p style="color: #fff;">{{ section.settings.section_desc }}</p>
            </div>
          </div>   
        </div>
        <div class="imag-wraper">
          {% for block in section.blocks %}
          <div class="imag-holder">
              {%- if block.settings.custom_imag -%}
              {{ block.settings.custom_imag | image_url: width: 512 | image_tag:
              loading: 'lazy',
              width: block.settings.custom_imag.width,
              height: block.settings.custom_imag.height,
              class: "img-fluid image-1",
              alt: block.settings.custom_imag.alt | escape }}
              {%- endif -%}
            </div>
          {% endfor %}  
        </div>
      </div>  
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Testimonial",
  "settings": [
    {
      "type": "header",
      "content": "Testimonial settings"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Section title",
      "default": "Type here"
    },
    {
      "type": "color",
      "id": "section_title_color",
      "label": "Title one color",
      "default": "#fff"
    },
    {
      "type": "text",
      "id": "section_title_2",
      "label": "Section 2nd title",
      "default": "Type here"
    },
    {
      "type": "color",
      "id": "section_title2_color",
      "label": "Title two color",
      "default": "#fff"
    },
    {
      "type": "text",
      "id": "section_desc",
      "label": "Section description",
      "default": "Type here"
    },
    {
      "type": "color",
      "id": "testi_bgcolor",
      "label": "Background color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "testi_bgcolor2",
      "label": "Background color 2",
      "default": "#000"
    },
    {
      "type": "checkbox",
      "id": "enable_animation",
      "label": "Enable background animation",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "testi_slide",
      "name": "Image Block",
      "settings": [
        {
          "type": "header",
          "content": "Testimonial Content"
        },
        {
          "type": "image_picker",
          "id": "custom_imag",
          "label": "Customer Image",
          "info": "Recommended 500 X 200 PX"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Clients",
      "category": "7. Testimonial"
    }
  ]
}
{% endschema %}



<style>
  .testimonial-clients-area {
  position: relative;
  padding-top: var(--testi-padding-top);
  padding-bottom: var(--testi-padding-bottom);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 150%;
}

.animate-background {
  animation: moveBackground 10s infinite alternate;
}

@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 100% 100%;
  }
}

/* Example CSS Variables for Dynamic Styles */
#testimonial-{{ section.id }} {
  --testi-bgcolor: ;
  --testi-bgcolor2: ;
  --testi-padding-top: {{ section.settings.testi_padding_top }}px;
  --testi-padding-bottom: {{ section.settings.testi_padding_bottom }}px;
  background-image: radial-gradient(circle at center ,{{ section.settings.testi_bgcolor }} , {{ section.settings.testi_bgcolor2 }} )
}

#testimonial-{{ section.id }} .title-capture {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 10px 30px;
}
#testimonial-{{ section.id }} .title-capture .section-title {
  display: block;
}
#testimonial-{{ section.id }} .title-capture .section-title h2 {
  font-weight: 700;
  text-align: left;
  line-height: 1.2em !important;
  letter-spacing: 0px !important;
  text-transform: uppercase !important;
  color: #adb5fc !important;
  
}
#testimonial-{{ section.id }} .title-capture .section-title .desc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 15px 15px 0;
}
#testimonial-{{ section.id }} .title-capture .section-title .desc p {
  color: #fff;
  font-weight: 500;
  position: unset;
  margin: 0;
  padding: 0;
  width: 450px;
  overflow-wrap: break-word;
  line-height: 1.5;
  text-align: center;
}
@media (max-width: 460px) {  
  #testimonial-{{ section.id }} .title-capture .section-title .desc p {
    color: #fff;
    font-weight: 500;
    position: unset;
    margin: 0;
    padding: 0;
    width: 350px;
    overflow-wrap: break-word;
    line-height: 1.2;
    text-align: left;
  }
}
#testimonial-{{ section.id }} .imag-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
@media (max-width: 1200px) {
  #testimonial-{{ section.id }} .imag-wraper {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}
#testimonial-{{ section.id }} .imag-wraper .imag-holder {
  margin: 20px;
  margin-top: 0;
  width: 600px;
}
@media (max-width: 1200px) {
  #testimonial-{{ section.id }} .imag-wraper .imag-holder {
    width: auto;
  }
}
</style>