<section id="photo-transition-{{ section.id }}" class="">
  <div class="column">
    <div class="row">
     <div id="the-holder-{{ section.id }}"></div>
    </div>
  </div>
</section>
{% schema %}
  {
  "name": "photo to transition",
  "settings": [
    {
      "type": "header",
      "content": "settings"
    },
    {
      "type": "url",
      "id": "bg_img",
      "label": "choose image"
    },
    {
      "type": "number",
      "id": "height_length",
      "label": "choose the lenght",
      "default": 80
    }
  ],
    "presets": [
    {
      "name": "photo to transtion"
    }
  ]
}
{% endschema %}

<style>
#photo-transition-{{ section.id }}{
  background-size: 100%;
  background-repeat: space;
  background-position: 50% 50%;
  background-image: url('{{ section.settings.bg_img }}');
}
#the-holder-{{ section.id }}{
  width: 100%;
  height: {{ section.settings.height_length }}px;
  position: ;
}
</style>