<div class="row">
  <div class="column">
    <section id="seeItInAction-{{ section.id }}">
      <div class="framerBigHold">
        <div class="itemWraper">
          <div class="item">
            <h2>see it <span style="color: #6c7dff; padding-left: 10px;"> in action</span></h2>
            <a 
            id="explore_button"  
            class=" discount-buy-btn">
            {{ section.settings.slide_button_text }}
            </a>
            <div class="additional">
                  <div class="additional-container">
                    <img src="https://cdn.shopify.com/s/files/1/0593/1450/3745/files/Untitled_design_1_8c00841a-9513-41fa-8a25-a835b16197ea.png?v=1723202034" />
                    <span>                     
                      130,432+ Sold Worldwide
                    </span>
                  </div>
                  <div class="additional-container">
                    <img src="https://cdn.shopify.com/s/files/1/0593/1450/3745/files/Untitled_design_2.png?v=1723202382" />
                    <span>
                      Fast Worldwide Shipping
                    </span>
                  </div>
                  <div class="additional-container">
                    <img src="https://ucarecdn.com/ea117ecd-364e-4a83-9366-bc97084c4101/-/format/auto/-/preview/3000x3000/-/quality/lighter/27.%20Return.png" />
                    <span>
                      30 Days Money Guarantee
                    </span>
                  </div>
                </div>
          </div>
          <div class="item">
           {% if section.settings.imgForProductProps %}
              {{ section.settings.imgForProductProps | image_url: width: 512 | image_tag:
              loading: 'lazy',
              width: section.settings.imgForProductProps.width,
              height: section.settings.imgForProductProps.height,
              class: "img-fluid image-1",
              alt: section.settings.imgForProductProps.alt | escape }}
           {%- endif -%}
          </div>
        </div>
        <div class="itemWraper">
            
        </div>
      </div>
    </section>
  </div>
</div>

<style>
#seeItInAction-{{ section.id }}{
  width: 100%;
  display: block;
  {% if section.settings.select_bg_style == "backColor" %}
    background: {{ section.settings.backGcolor }};
  {% elsif section.settings.select_bg_style == "backImage" %}
    background-image: url('{{ section.settings.backImageUrl }}');
  {% endif %}
}
#seeItInAction-{{ section.id }} .framerBigHold{
  width: 80%;
  height: 100%;
  max-width: 1140px;
  margin: auto;
  display: block;
  align-items: unset;
  justify-content: space-between;
  padding-bottom: 50px;
}
#seeItInAction-{{ section.id }} .itemWraper{
  display: flex;
  height: 100%;
  align-content: baseline;
  justify-content: center;
}
#seeItInAction-{{ section.id }} .itemWraper .item{
  display: block;
  height: 100%;
  align-content: baseline;
  justify-content: center;
}
#seeItInAction-{{ section.id }} .itemWraper h2{
  color: #b4b9ff;
  padding-top: 30px;
  font-size: 40px !important;
  line-height: 1.2em !important;
  letter-spacing: -3px !important;
  text-transform: uppercase !important;
  font-weight: 400 !important;
  font-family: spaceBoard !important;
  text-align: center;
}
.additional{
  display: flex;
  align-items: center;
  justify-content: center;
}
.additional .additional-container{
  display: flex;
  justify-content: center;
  margin: auto;
}
.additional .additional-container img{
  max-width: 25px;
}
.additional .additional-container span{
  display: flex;
  width: min-content;
  margin: 0 10px;
  color: #fff;
  font-size: 11px;
  font-weight: 501;
  line-height: 11px;
  font-family: poppins;
  opacity: 0.8;
  letter-spacing: 0.2px;
  align-items: center;
}
@media(max-width: 950px){
  #seeItInAction-{{ section.id }} .framerBigHold{
    display: block;
    padding: 10px 0;
  }
  #seeItInAction-{{ section.id }} .itemWraper{
    padding-left: 0 !important;
  }
}
</style>

{% schema %}
{
  "name": "products properties",
  "settings": [
    {
      "type": "header",
      "content": "products properties Settings"
    },
    {
      "type": "select",
      "id": "select_bg_style",
      "label": "Background style",
      "options": [
        {
          "value": "backColor", 
          "label": "Background color"
        },
        {
          "value": "backImage", 
          "label": "Background image"
        }
      ]
    },
    {
      "type": "color",
      "id": "backGcolor",
      "label": "Background color"
    },
    {
      "type": "url",
      "id": "backImageUrl",
      "label": "Background image URL"
    }
  ],
  "blocks": [
    {
      "type": "seeIt-inAction",
      "name": "see it in action",
      "settings": [
         {
          "type": "header",
          "content": "Video Settings"
        },
        {
          "type": "url",
          "id": "video_link",
          "label": "Upload Video"
        },
        {
          "type": "image_picker",
          "id": "poster_link",
          "label": "Video Poster Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "products properties"
    }
  ]
}
{% endschema %}
