<div class="row">
  <div class="column">
    <section id="seeItInAction-{{ section.id }}">
      <div class="framerBigHold">
        <div class="itemWraper">
          <h2>see it <h2 style="color: #6c7dff; padding-left: 10px;"> in action</h2></h2>
        </div>
        <div class="itemWraper">
          {% for block in section.blocks %}
            <div class="tikVideoContainer">
             <video class="tik-video" controls preload="metadata" 
              poster="{{ block.settings.poster_link | img_url: 'master' }}">
              <source src="{{ block.settings.video_link | video_url }}" type="video/mp4">
             </video>
            </div>
          {% endfor %}
           <div class="swiper-pagination"></div>
           <div class="swiper-button-prev"></div>
           <div class="swiper-button-next"></div>
        </div>
      </div>
    </section>
  </div>
</div>

<style>
#seeItInAction-{{ section.id }}{
  width: 100%;
  display: block;
  {% if section.settings.select_bg_style == "backColor" %}
    background: {{ section.settings.backGcolor }};
  {% elsif section.settings.select_bg_style == "backImage" %}
    background-image: url('{{ section.settings.backImageUrl }}');
  {% endif %}
}
#seeItInAction-{{ section.id }} .framerBigHold{
  width: 80%;
  height: 100%;
  max-width: 1140px;
  margin: auto;
  display: block;
  align-items:0 unset;
  justify-content: space-between;
  padding-bottom: 50px;
}
#seeItInAction-{{ section.id }} .itemWraper{
  display: flex;
  height: 100%;
  align-content: last baseline;
  justify-content: center;
}
#seeItInAction-{{ section.id }} .itemWraper h2{
  color: #b4b9ff;
  padding-top: 30px;
  font-size: 40px !important;
  line-height: 1.2em !important;
  letter-spacing: -3px !important;
  text-transform: uppercase !important;
  font-weight: 400 !important;
  font-family: spaceBoard!important;
  text-align:center
}
.tikVideoContainer{
  width: 250px;
  height: 500px;
  overflow: hidden;
  border-radius: 15px;
  background: #fff;
  margin: 50px 20px 50px 20px;
  min-width: 250px;
}
.tik-video{
  width: 100%;
  height: 100%;
}
@media(max-width: 950px){
  #seeItInAction-{{ section.id }} .framerBigHold{
    display: block;
    padding:10px 0 10px 0;
  }
  #seeItInAction-{{ section.id }} .itemWraper{
    padding-left: 0px!important;
  }
}
@media(max-width: 450px){

}
</style>

{% schema %}
{
  "name": "see it in action",
  "settings": [
    {
      "type": "header",
      "content": "How it Feels Settings"
    },
    {
      "type": "select",
      "id": "select_bg_style",
      "label": "Background style",
      "options": [
        {
          "value": "backColor", 
          "label": "Background color"
        },
        {
          "value": "backImage", 
          "label": "Background image"
        }
      ]
    },
    {
      "type": "color",
      "id": "backGcolor",
      "label": "Background color"
    },
    {
      "type": "url",
      "id": "backImageUrl",
      "label": "Background image URL"
    }
  ],
  "blocks": [
    {
      "type": "seeIt-inAction",
      "name": "see it in action",
      "settings": [
         {
          "type": "header",
          "content": "Video Settings"
        },
        {
          "type": "url",
          "id": "video_link",
          "label": "Upload Video"
        },
        {
          "type": "image_picker",
          "id": "poster_link",
          "label": "Video Poster Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "see it in action"
    }
  ]
}
{% endschema %}
