<div class="row">
  <div class="column">
    <section id="seeItInAction-{{ section.id }}">
      <div class="framerBigHold">
        <div class="itemWraper">
          {% for block in section.blocks %}
            <div class="tikVideoContainer">
              <video class="tik-video" loop autoplay="autoplay" preload="none" muted playsinline
              poster="https://cdn.shopify.com/s/files/1/0624/5643/0819/files/Screenshot_2023-10-04_at_12.50_2.png?v=1696688588">
                <source src="https://cdn.shopify.com/videos/c/o/v/f54e4cd1040a47d1b4441675fb74d040.mp4" type="video/mp4">
              </video>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>
</div>

<style>
#seeItInAction-{{ section.id }} {
  width: 100%;
  display: block;
  {% if section.settings.select_bg_style == "backColor" %}
    background: {{ section.settings.backGcolor }};
  {% elsif section.settings.select_bg_style == "backImage" %}
    background-image: url('{{ section.settings.backImageUrl }}');
  {% endif %}
}
#seeItInAction-{{ section.id }} .framerBigHold {
  width: 80%;
  height: 100%;
  max-width: 1140px;
  margin: auto;
  display: flex;
  align-items: unset;
  justify-content: space-between;
  padding-bottom: 50px;
}

#seeItInAction-{{ section.id }} .itemWraper {
  height: 100%;
  padding-left: 50px;
  align-content: last baseline;
}

.tikVideoContainer {
  width: 250px;
  height: 500px;
  overflow: hidden;
  border-radius: 15px;
  background: #fff;
  margin: 50px;
}
.tik-video {
  width: 100%;
  height: 100%;
}
@media(max-width: 950px) {
  #seeItInAction-{{ section.id }} .framerBigHold {
    display: block;
    padding: 10px 0 10px 0;
  }
  #seeItInAction-{{ section.id }} .itemWraper {
    padding-left: 0px !important;
  }
}
</style>

{% schema %}
{
  "name": "see it in action",
  "settings": [
    {
      "type": "header",
      "content": "How it Feels Settings"
    },
    {
      "type": "select",
      "id": "select_bg_style",
      "label": "Background style",
      "options": [
        {
          "value": "backColor",
          "label": "Background color"
        },
        {
          "value": "backImage",
          "label": "Background image"
        }
      ]
    },
    {
      "type": "color",
      "id": "backGcolor",
      "label": "Background color"
    },
    {
      "type": "url",
      "id": "backImageUrl",
      "label": "Background image URL"
    }
  ],
  "blocks": [
    {
      "type": "seeIt-inAction",
      "name": "see it in action",
      "settings": [
        {
          "type": "text",
          "id": "block_text",
          "label": "Block Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "see it in action"
    }
  ]
}
{% endschema %}
