<div class="row">
  <div class="column">
    <section id="seeItInAction-{{ section.id }}">
      <div class="framerBigHold">
        <div class="itemWraper">
          <div class="tikVideoContainer">
            <video class="tik-video" loop autoplay preload="none" muted playsinline
            poster="https:{{ block.settings.video_image | img_url: 'master' }}">
              <source src="{{ block.settings.video_link }}" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<style>
#seeItInAction-{{ section.id }}{
  width: 100%;
  height: 300px;
  display: block;
  {% if section.settings.select_bg_style == "backColor" %}
    background: {{ section.settings.backGcolor }};
  {% elsif section.settings.select_bg_style == "backImage" %}
    background-image: url('{{ section.settings.backImageUrl }}');
  {% endif %}
}
#seeItInAction-{{ section.id }} .framerBigHold{
  width: 80%;
  max-width: 1140px;
  margin: auto;
  display: flex;
  align-items:0 unset;
  justify-content: space-between;
  padding-bottom: 50px;
}

#seeItInAction-{{ section.id }} .itemWraper{
  padding-left: 50px;
  align-content: last baseline;
}

.tikVideoContainer{
  width: 100px;
  height: 600px;
  overflow: hidden;
}
.tik-video{
  width: 100px;
  height: 600px;
}
@media(max-width: 950px){
  #seeItInAction-{{ section.id }} .framerBigHold{
    display: block;
    padding:10px 0 10px 0;
  }
  #seeItInAction-{{ section.id }} .itemWraper{
    padding-left: 0px!important;
  }
}
@media(max-width: 450px){

}
</style>

{% schema %}
{
  "name": "see it in action",
  "settings": [
    
  ],
  "blocks": [
    {
      "type": "seeIt-inAction",
      "name": "see it in action",
      "settings": [
        
      ]
    }
  ],
  "presets": [
    {
      "name": "see it in action"
    }
  ]
}
{% endschema %}
