{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.js' | asset_url | script_tag }}

<div class="row">
  <div class="column">
    <section id="seeItInAction-{{ section.id }}">
      <div class="framerBigHold">
        <div class="itemWraper">
          <div class="slide-container swiper">
            <div class="swiper-wrapper">
              {% for block in section.blocks %}
                <div class="card swiper-slide">
                  <div class="item">
                    <P class="reviewName">{{ block.settings.Name_p }}</P>
                  </div>
                  <div class="item">
                    <div class="pro-image">
                      {%- if block.settings.rates_img -%}
                    {{ block.settings.rates_img | image_url: width: 512 | image_tag:
                    loading: 'lazy',
                    width: block.settings.rates_img.width,
                    height: block.settings.rates_img.height,
                    class: "img-fluid image-1",
                    alt: block.settings.rates_img.alt | escape }}
                    {%- endif -%}
                    </div> 
                  </div>
                  <div class="item">
                    <p class="reviewDesc">{{ block.settings.review_p }}</p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="btn-navigator swiper-pagination"></div>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".slide-container", {
    slidesPerView: 'auto',
    spaceBetween: 20,
    loop: false,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

<style>
.slide-container{
  width: 100%;
  height: 100%;
  background: #1c235e;
  padding: 40px;
}
#seeItInAction-{{ section.id }}{
  width: 100%;
  display: block;
  {% if section.settings.select_bg_style == "backColor" %}
    background: {{ section.settings.backGcolor }};
  {% elsif section.settings.select_bg_style == "backImage" %}
    background-image: url('{{ section.settings.backImageUrl }}');
  {% endif %}
}
#seeItInAction-{{ section.id }} .framerBigHold{
  width: 80%;
  height: 100%;
  max-width: 1140px;
  margin: auto;
  display: block;
  align-items: unset;
  justify-content: space-between;
  padding-bottom: 50px;
}
#seeItInAction-{{ section.id }} .itemWraper{
  display: block;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 30px 0 10px 0;
}
#seeItInAction-{{ section.id }} .itemWraper .item{
  display: block;
  align-content: baseline;
  margin: auto;
}
#seeItInAction-{{ section.id }} .itemWraper h2{
  color: #b4b9ff;
  padding-top: 30px;
  font-size: 40px !important;
  line-height: 1.2em !important;
  letter-spacing: -3px !important;
  text-transform: uppercase !important;
  font-weight: 400 !important;
  font-family: spaceBoard !important;
  text-align: center;
}
#seeItInAction-{{ section.id }} .itemWraper .item .pro-image{
  width: 150px;
  overflow: hidden;
  border: none!important;  
}
.pro-image img{
  width: 100%;  /* Makes the image take up the full width of its parent div */
  height: auto; /* Maintains the aspect ratio of the image */
  display: block;
}
.card{
   width: 350px !important;
  padding: 0 20px 0 20px;
  background: #ffffff21;
  border-style: dashed;
  border-color: #a08dff;
  /* margin: 0 40px 0 40px; */
  border-radius: 15px;
  height: 200px;
}
.prop-image{
  width: 150px;
  margin: auto;
}
.reviewName{
  font-style: italic;
  font-weight: 600;
  padding: 20px 0 10px 0;
}
.reviewDesc{
  color: #fff;
  font-size: 15px;
  line-height: 1.2;
  max-width: 250px;
  padding: 10px 0 20px 0;
  text-align: center;
  letter-spacing: 0px;
}
.btn-navigator{
  position: inherit!important;
}
@media(max-width: 950px){
  #seeItInAction-{{ section.id }} .framerBigHold{
    display: block;
    padding: 10px 0;
  }
  #seeItInAction-{{ section.id }} .itemWraper{
    padding-left: 0 !important;
  }
}
</style>

{% schema %}
{
  "name": "user slider",
  "settings": [
    {
      "type": "header",
      "content": " Settings"
    },
    {
      "type": "select",
      "id": "select_bg_style",
      "label": "Background style",
      "options": [
        {
          "value": "backColor", 
          "label": "Background color"
        },
        {
          "value": "backImage", 
          "label": "Background image"
        }
      ]
    },
    {
      "type": "color",
      "id": "backGcolor",
      "label": "Background color"
    },
    {
      "type": "url",
      "id": "backImageUrl",
      "label": "Background image URL"
    }
  ],
  "blocks": [
    {
      "type": "user_slider",
      "name": "user_slider",
      "settings": [
        {
          "type": "text",
          "id": "Name_p",
          "label": "name"
        },
        {
          "type": "image_picker",
          "id": "rates_img",
          "label": "rate"
        },
        {
          "type": "text",
          "id": "review_p",
          "label": "review"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "user slider"
    }
  ]
}
{% endschema %}
